@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Buttons */

  .connect-btn {
    @apply connect-block-text mx-4 rounded-lg border-2
  border-gray-600 px-4 text-base hover:bg-gray-700
  hover:text-gray-300 hover:transition dark:border-gray-400
  dark:hover:bg-gray-300 dark:hover:text-gray-700;
  }

  .ProButton {
    @apply
    bg-cyber-100 mx-5 mt-16 px-5 py-3 rounded-lg 
    hover:bg-solar-100 hover:animate-pulse hover:text-night-100 
    cursor-pointer
  }

  .ProButton2 {
    @apply
    bg-solar-900 mx-5 px-5 py-3 rounded-lg 
    hover:bg-solar-100 hover:animate-pulse hover:text-night-100 
    cursor-pointer
  }
  
  .connect-btn-no-hover {
    @apply connect-block-text mx-4 rounded-lg border-2
  border-gray-600 px-4 text-base 
   dark:border-gray-400;
  }
  .connect-block-text {
    @apply my-auto mr-auto ml-4 
    align-middle text-lg 
    font-bold tracking-wider text-gray-600 dark:text-gray-400;
    @apply
    px-4 
  }

  /* Modals */
  .WalletModal {
    @apply my-8 inline-block w-full max-w-md 
    transform overflow-hidden rounded-2xl 
    bg-cyber-100 p-6 text-left align-middle 
    shadow-xl transition-all
    animate-pulse
    font-exo
    text-center
    text-2xl
    hover:animate-none
  }

  .WalletButton {
    @apply
    m-2 h-28 w-96 cursor-pointer rounded-lg
    p-2 text-center 
    text-white
    hover:animate-none
    hover:text-white
    hover:bg-gradient-to-r from-glass-200 via-glass-300 to-glass-200
  }

  .WalletDisconnect {
    @apply
    mt-12 h-28 w-96 cursor-pointer rounded-lg
    p-2 text-center 
    bg-gradient-to-r from-glass-400 via-glass-100 to-glass-400
    text-solar-100
    hover:text-white
    hover:animate-ping
    hover:bg-gradient-to-r from-glass-200 via-glass-100 to-glass-200
  }

  .WalletClose {
    @apply 
    justify-center 
    text-night-100 
    hover:animate-spin hover:text-solar-100
  }

  /* Hud */ 
  .top-hud { 
    @apply xl:mx-96 fixed grid grid-cols-4 items-center top-0 left-0 right-0
    rounded-b-lg
    font-exo
    text-white
    text-xs
    xl:text-lg
    border-none
    z-10
  }

  .bottom-hud { 
    @apply xl:mx-96 fixed grid grid-cols-4 items-center bottom-0 left-0 right-0
    rounded-b-lg
    font-exo
    font-medium
    text-white
    text-xs
    xl:text-lg
    border-none
  }

  .hud0 {
    @apply p-1 
    bg-glass-100 text-center
    rounded-b-lg
    border-none
    hover:bg-solar-100
    hover:text-night-100
    cursor-pointer
    animate-pulse
  }

  .hud0lens {
    @apply p-1 
    bg-cyber-100 text-center
    border-none
    hover:bg-solar-100
    hover:text-night-100
    cursor-pointer
    rounded-br-lg
  }

  .lenscon {
    @apply 
    bg-glass-100 text-white
    hover:bg-solar-100 hover:text-night-100
    py-1 w-full h-full
  }
 
  .hud1 {
    @apply p-1 
    bg-glass-100 text-center
    rounded-bl-lg
    border-none
    hover:bg-cyber-100
    hover:text-white
    cursor-pointer
  }

  .hud1con {
    @apply p-1 
    bg-glass-100 text-white
    hover:bg-solar-100 hover:text-night-100
    rounded-bl-lg
    border-none
    cursor-pointer
  }

  .hud2 {
    @apply p-1 
    bg-glass-100 text-center
    border-none
  }

  .hud3 {
    @apply p-1 
    bg-glass-100 text-center
    border-none
    hover:bg-solar-100
    hover:text-night-100
    cursor-pointer
  }
  
  .hud4 {
    @apply p-1 
    bg-glass-100 text-center
    border-none
    hover:bg-solar-100
    hover:text-night-100
    cursor-pointer
    rounded-br-lg
  }

  .huda {
    @apply p-1 
    bg-glass-100 text-center text-white
    hover:bg-solar-100 hover:text-night-100
    border-none
    rounded-tl-lg
  }

  .hudb {
    @apply p-1 
    bg-glass-100 text-center text-white
    hover:bg-solar-100 hover:text-night-100
    border-none
  }

  .hudc {
    @apply p-1 
    bg-glass-100 text-center text-white
    border-none
  }

  .hudd {
    @apply p-1 
    bg-glass-100 text-center
    border-none
    rounded-tr-lg
  }


/* Profiles */

.ProfileGrid {
  @apply
  grid grid-cols-1
  xl:grid-cols-2
}

.PostGrid {
  @apply
  mx-20
  grid grid-cols-1
  xl:grid-cols-2
}

.ProfilePic {
  @apply
  h-fit rounded-lg bg-glass-100 xl:mb-20
}

.ProfilePic2 {
  @apply
   w-fit h-fit rounded-lg bg-glass-100 xl:mb-20 xl:ml-10 
}

.ProfilePic3 {
  @apply
   w-60 h-fit rounded-lg bg-glass-100 xl:mb-20 xl:ml-10 
}

.ProfileData {
  @apply
  text-xl
  xl:text-xl text-night-100 mb-3 px-10 text-left
}

.StatsGrid {
  @apply 
  xl:col-span-2 grid grid-cols-3 text-xl gap-3 text-white

}

.StatsBg-Pointer {
  @apply 
  bg-glass-100 rounded-lg hover:cursor-pointer
}

.StatsBg {
  @apply 
  bg-glass-100 rounded-lg 
}

.ProPost {
  @apply
  grid grid-cols-2
  rounded-lg text-right
  xl:text-xl font-exo


}

.ProUpdate {
  @apply
  relative bg-glass-100 
  rounded-lg text-right
  mt-10 p-5 xl:text-xl font-exo
}

.ProReturn {
  @apply
  bg-cyber-100 absolute
  -top-5 xl:-left-5 -left-2 w-20 h-20 rounded-full
  text-white text-5xl font-exo 
  hover:bg-solar-100  
  text-center hover:text-night-100 pt-3
}

.ProTitle {
  @apply text-white text-2xl text-center
}

.ProLabel {
  @apply
  mr-5 text-white
}

.ProField {
  @apply
  rounded-xl
  p-2
  w-full
  bg-glass-200
}

/* Screens*/

  .MainScreen { 
    @apply
    flex 
    items-center 
    justify-center
  }

  .MainCon { 
    @apply
    flex 
    items-center
    pt-24
    justify-center
    align-middle
    grid
    grid-cols-2
    text-center
  }

  .MainCon2 { 
    @apply
    flex 
    items-center
    pt-32
    xl:mx-96
    justify-center
    align-middle
    grid
    grid-cols-1
    text-center
  }

  .LensCon {
    @apply
    bg-glass-100 
    rounded-lg 
    xl:mx-20 py-10 xl:py-40 xl:text-5xl
    text-2xl font-exo text-white animate-pulse
  }

  .LensIcon {
    @apply 
    text-9xl 
    mb-5 pb-20
  }

  .MainBoard {
    @apply grid grid-cols-1 
    grid-rows-4
    2xl:grid-cols-12 gap-3 
    w-full xl:mx-28 xl:h-[56rem] flex 
    font-exo
    text-2xl
  }
  
  .Board1 {
    @apply bg-glass-100 text-center rounded-lg 2xl:col-span-6 
    xl:row-span-4 text-white
  }
  .Board2 {
    @apply bg-glass-100 text-center rounded-lg 2xl:col-span-3 
    xl:row-span-4 text-white
  }
  .Board3 {
    @apply bg-glass-100 text-center rounded-lg text-white 
    xl:col-span-3 xl:row-span-4
  }
  
  .PlaceBG {
    @apply 
    bg-glass-100 rounded-lg 
    grid grid-rows-5 hover:bg-solar-100
    cursor-pointer
  }

  /* How to join */

  .joinBG {
    @apply 
    bg-glass-100 rounded-lg p-5 
    cursor-pointer hover:bg-solar-100 hover:text-night-100
  }

  .Future {
    @apply 
    bg-glass-100 rounded-lg p-5 
    cursor-pointer hover:bg-night-100 hover:text-solar-100
  }

  /* Team */
  .teamMB {
    @apply 
    p-5 text-white hover:text-solar-100 hover:animate-pulse pb-32
  }

  /* Dashboard */
  .DasTitle {
    @apply
    absolute bottom-40 left-5 text-4xl
  }
}
