.center {
  text-align: center;
}

.HomeCon {
  display: flex; 
  flex-direction: column; 
  flex: 1 1 0%; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  text-align: center; 
  z-index: 1;
}

.logo {
  height: 35vh;
  width: 35vh;
  margin-bottom: 5em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40%;
}


.HomeBT:hover, .MetaBT:hover, .HowBT:hover, .GMaps:hover, .HowBG:hover, .CreateAcc:hover {
  background-color: #F6AF55;
  cursor: pointer;
  color: #01304E;
}

.NewBT {
  height: 500px;
  width: 500px;
  border-radius: 25px;
  padding: 1em;
  text-align: center;
}

.NewIMG {
  max-width: 150px;
  height: auto;
}

.NewDialog {
  padding: 1em;
  border-radius: 0px 25px 25px 25px;
  background-color: #119195;
  transition: width 0.75s, height 0.5s;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.NewDialog2 {
  border-radius: 25px 25px 25px 25px;
  background-color: #AAA6A150;
  font-size: 1.5em;
  transition: width 2s, height 2s;
  padding: 1em;
}

.NewDialog2:hover {
  border-radius: 25px 25px 0px 25px;
  background-color: #F6AF55;
  transition: border-radius 0.25s;
}

.NewOrb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #F6AF55;
  transition: width 0.75s, height 0.5s;
}

.NewOrb:hover {
  width: 250px;
  height: 250px;
  border-radius: 25px 25px 25px 2px;
}

.HomeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.HowGrid {
  display: grid; 
  margin-top: 2.5rem; 
  color: #ffffff; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  gap: 0.75rem; 
}

.HowBG {
  padding: 1.25rem; 
  border-radius: 25px; 
  cursor: pointer; 
  background-color: #AAA6A150;
}

.HowIcon {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; 
  font-size: 6rem;
  line-height: 1; 
}

.hero {
  text-align: center; 
  justify-items: center; 
  padding: 10em 5em 0 5em;
}

.heroText {
  color: #ffffff;
  font-size: 1.2rem;
  align-items: center;
}

.HowCon {
  margin-left: 2.5rem;
  margin-right: 2.5rem; 
  height: 100vh; 
}

.HowTL {
  margin-top: 5rem; 
  font-size: 2.25rem;
  line-height: 2.5rem; 
  font-weight: 900; 
}

@media (min-width: 1280px) { 
  
  .connect {
    bottom: 25% !important; 
    font-size: 2em !important;
  }
  
  .disconnect, .disconnect2 {
    padding: 0.25em 1em 0.25em 1em !important;
    font-size: 1.2em !important;
  }

  .options {
    bottom: 5% !important; 
    width: 15% !important;
  }

  .hero {
    padding: 10em 5em 0 5em;
    height: 100vh;
  }

  .heroText {
    font-size: 2.5rem;
    line-height: 1; 
  }
  
  .HowTL {
    font-size: 3.75rem;
    line-height: 1; 
  }

  .HowGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
  }

  .logo {
    height: 600px;
    width: 600px;
    bottom: 30%;
  }

  .topHud {
    padding: 0 10em 0 10em;
    width: 50% !important;
    left: 50%;
    transform: translateX(-50%);
  }

  .rightHud {
    grid-template-columns: 1fr !important; 
    top: 5em; 
    bottom: auto !important; 
  }

  .leftHud {
    grid-template-columns: 1fr !important; 
    top: 5em; 
    bottom: auto !important; 
  }

  .hud1, .hud2, .hud3 {
    padding: 0.25em 0.5em 0.25em 0.5em !important;
  }

  .huda{
    border-radius: 0 25px 0 0 !important;
  }

  .hudc{
    border-radius: 0 0 25px 0 !important;
  }

  .hudd{
    border-radius: 25px 0 0 0 !important;
  }

  .hudf{
    border-radius: 0 0 0 25px;
  }

  .HomeDiv {
    width: 40%;
    top: 10%;
  }

  .AllDiv {
    width: 80%;
    top: 10%;
  }

  .CityDiv {
    grid-template-columns: 2fr 1fr;
    padding: 8em 10em 0em 10em;
  }

  .CityPlaces {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
  .CityPlaces3 {
    grid-template-columns: repeat(7, minmax(0, 1fr)); 
    grid-template-rows: repeat(4, minmax(0, 1fr)); 
  }

  .alertBT {
    width: 25% !important;
    border-radius: 25px;
  }

  .PLDetail {
    height: 50em;
  }

  .AssetTl {
    font-size: 3em;
  }

  .VerBt {
    padding: 0.5em 0em 0.75em 0em;
  }
  
}