.center {
  text-align: center;
}
.HomeCon {
  display: flex; 
  flex-direction: column; 
  flex: 1 1 0%; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  text-align: center; 
}

.logo {
  height: 35vh;
  width: 35vh;
  margin-bottom: 5em;
}

.HomeBT {
  margin: 0 3em 0 3em;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #AAA6A150;
  border-radius: 25px;
  font-size: 2em;
}

.HomeBT:hover {
  background-color: #F6AF55;
  cursor: pointer;
  color: #01304E;
}

.HomeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.HowGrid {
  display: grid; 
  margin-top: 2.5rem; 
  color: #ffffff; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  gap: 0.75rem; 
}

.HowBG {
  padding: 1.25rem; 
  border-radius: 25px; 
  cursor: pointer; 
  background-color: #AAA6A150;
}

.HowBG:hover {
  background-color: #F6AF55;
  color: #01304E;
}

.HowIcon {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; 
  font-size: 6rem;
  line-height: 1; 
}

.hero {
  text-align: center; 
  justify-items: center; 
  padding: 10em 5em 0 5em;
}

.heroText {
  color: #ffffff;
  font-size: 1.2rem;
  align-items: center;
}

.HowCon {
  margin-left: 2.5rem;
  margin-right: 2.5rem; 
  height: 100vh; 
}

.HowTL {
  margin-top: 5rem; 
  font-size: 2.25rem;
  line-height: 2.5rem; 
  font-weight: 900; 
}

@media (min-width: 1280px) { 
  .hero {
    padding: 10em 5em 0 5em;
    height: 100vh;
  }
  .heroText {
    font-size: 2.5rem;
    line-height: 1; 
  }
  
  .HowTL {
    font-size: 3.75rem;
    line-height: 1; 
  }

  .HowGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); 

  }
  .logo {
    height: 600px;
    width: 600px;
  }
  .topHud {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    padding: 0 15em 0 15em;
  }
  .rightHud {
    grid-template-columns: 1fr !important; 
    top: 5em; 
    bottom: auto !important; 
  }

  .leftHud {
    grid-template-columns: 1fr !important; 
    top: 5em; 
    bottom: auto !important; 
  }

  .hud0{
    grid-column: span 1 / span 1 !important; 
    border-radius: 0 0 0 25px !important;
  }
  .hud1{
    grid-column: span 1 / span 1 !important; 
  }
  .hud2{
    grid-column: span 1 / span 1 !important;
    border-radius:  0 0 0 0 !important;
  }
  .hud3{
    grid-column: span 1 / span 1 !important; 
  }
  .hud4{
    grid-column: span 1 / span 1 !important; 
  }
  .huda{
    border-radius: 0 25px 0 0 !important;
  }
  .hudc{
    border-radius: 0 0 25px 0 !important;
  }
  .hudd{
    border-radius: 25px 0 0 0 !important;
  }
  .hudf{
    border-radius: 0 0 0 25px;
  }
}