

@media only screen and (max-width: 600px) {
  .hud1 {
    padding: 1em 0 0 0;
    font-size: 0.7em;
  }
}



@media only screen and (min-width: 1200px) {
  .bottomHud {
    width: 60%;
    margin-left: 20%;
      
  }
  
  .topHud {
      width: 60%;
      margin-left: 20%;
  }
}