@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,500;0,800;1,400&display=swap");

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: #fff;
}

a:link {
  color: #fff;
  border: none;
}

a:active {
  color: #01304e !important;
}

a:visited {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #01304e;
}

.App {
  text-align: center;
  font-family: "Exo 2";
}


.NewGame {
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  display: flex;
  font-family: "Exo 2";
}

.HomeDiv {
  position: fixed;
  border-radius: 25px;
  margin-top: 2em;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
}

.homevan {
  position: absolute;
  bottom: 0.2em;
  right:  0.2em;
  height: 60%;
  z-index: -1;
}

.homevan2 {
  position: absolute;
  bottom: 0.2em;
  right:  0.2em;
  height: 70%;
  z-index: -1;
}

.NewGameBt {
  color: #01304e;
  padding: 1em;
  background: linear-gradient(150deg, #f6af55, #f6af55, #119195, #119195);
  background-size: 200% 200%;
  animation: gradient 3s ease-in-out infinite;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
  font-size: clamp(2em, -1.2em + 2vw, 2.35rem);
}

.NewGameBt:hover {
  background: linear-gradient(150deg, #8c8985, #8c8985, #8c8985, #8c8985);
  color: #fff;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5em 5em 5em 5em;
  box-sizing: border-box;
  background: #f6b055;
  border-radius: 25px 25px 0px 25px;
}

.container2 {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0px 25px 25px 0;
  padding: 2em;
  box-sizing: border-box;
  background: #119195;
}

.container3 {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 2em;
  box-sizing: border-box;
  background: linear-gradient(150deg, #f6af55, #f6af55, #119195, #119195);
  background-size: 200% 200%;
  animation: gradient 3s ease-in-out infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.NewPlayer {
  height: 100px;
  width: 100px;
  background: url("https://cdn-icons-png.flaticon.com/512/1586/1586547.png");
  background-size: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #be8943, -7px -7px 10px #ffb34f;
}

.NewPlace {
  height: 100px;
  width: 100px;
  background: url("https://cdn-icons-png.flaticon.com/512/1586/1586547.png");
  background-size: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #0f6164, -7px -7px 10px #13a7ac;
}

.VerifyPlace {
  height: 100px;
  width: 100px;
  background-size: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 4em;
  box-shadow: 7px 7px 10px #0f6164, -7px -7px 10px #13a7ac;
}

.UpgradePlace {
  height: 100px;
  width: 100px;
  background-size: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 4em;
  background-color: #19191a71;
}

.PlaceData {
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr;
  font-size: 1.5em;
  margin-bottom: 2em;
  background-color: #19191a71;
  text-align: left;
  padding: 0.5em;
  border-radius: 15px;
}

.Deposit2Up {
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2em;
  margin-bottom: 2em;
  padding: 0.5em;
  border-radius: 15px;
}

.Energy2Up {
  background-color: #19191a71;
  border-radius: 15px;
  font-size: 2em;
  padding: 1em;
}

.Chips2Up {
  background-color: #19191a71;
  border-radius: 15px;
  font-size: 2em;
  padding: 1em;
}

.EnergyUnit {
  padding: 1em 3em 0 3em;
  color: #01304e !important;
}

.EnergyUnit::after {
  font-size: 1em;
  content: "⚡";
  color: #01304e;
  position: relative;
  right: -2.5em;
  top: -2.5em;
}

.EnergyBt {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(#f6af55, #f6b0557c);
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  text-align: center;
  transition: 1s;
}

.EnergyBt:hover {
  background-image: linear-gradient(#01304e, #01314ea4);
}

.ChipsUnit {
  padding: 1em 3em 0 3em;
  color: #01304e !important;
}

.ChipsUnit::after {
  font-size: 1em;
  content: "💽";
  color: #01304e;
  position: relative;
  right: -2.5em;
  top: -2.5em;
}

.ChipsBt {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(#119195, #11919573);
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  text-align: center;
  transition: 1s;
}

.ChipsBt:hover {
  background-image: linear-gradient(#01304e, #01314ea4);
}

.NewGame-title {
  font-weight: 900;
  font-size: 2em;
  color: #01304e;
}

.inputs {
  text-align: left;
  margin-top: 2em;
  color: #01304e;
}

.inputs2 {
  text-align: left;
  color: #01304e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

label,
input {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.inputs, label {
  color: #01304e;
  font-size: 1.2em;
}

input::placeholder {
  color: gray;
}

input {
  margin-bottom: 1em !important;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 1em;
  border-radius: 50px;
}

select {
  font-size: 1.2em !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
  border-width: 0 !important;
  color: #01304e !important;
}

select option {
  border-color: transparent !important;
  border: 0 !important;
  border-width: 0 !important;
}

option {
  padding: 0.2em !important;
}

option:disabled:checked {
  border: 0 !important;
}

select option:checked {
  background: #119195 -webkit-linear-gradient(bottom, #f6af55 0%, #f6af55 100%) !important;
  color: #f6af55 !important;
}

.CreateAcc {
  color: white;
  margin-top: 2em;
  padding: 0.4em;
  background: #01304e;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.5em;
}

.CreateAcc:hover {
  background-color: #124b6e;
}

.UploadBt {
  color: white;
  margin-top: 1.5em;
  padding: 0.4em;
  background: #124b6e;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

.UploadBt:hover {
  background-color: #01304e;
}

input[type="file"]:hover {
  cursor: pointer !important;
  position: relative;
}

.file {
  background-color: #d4d4d431;
  padding: 1em;
  border-radius: 15px;
}

.LevelBlock {
  color: white;
  margin-top: 1.5em;
  padding: 0.4em;
  background: #192024;
  height: 50px;
  border-radius: 20px;
  cursor: not-allowed;
  transition: 0.5s;
  font-size: 1.5em;
}

.LevelUnblock {
  color: white;
  margin-top: 1.5em;
  padding: 0.4em;
  cursor: pointer;
  background: #192024;
  height: 50px;
  border-radius: 20px;
  transition: 0.5s;
  font-size: 1.5em;
}

.LevelUnblock:hover {
  background-color: #6a7075;
}

.CreatePL {
  color: white;
  margin-top: 1.5em;
  padding: 0.4em;
  background: #01304e;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.5em;
}

.CreatePL:hover {
  background-color: #124b6e;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}

/* Places grid */

.Solarpunk {
  font-size: 1.5em;
  color: #f6b055;
}

.Cyberpunk {
  font-size: 1.5em;
  color: #119195;
}

.CityDiv {
  display: grid;
  grid-template-rows: 0.3fr 10fr;
  padding: 3em 3em 3em 3em;
  border-radius: 25px;
  margin-top: 2em;
}

.CityDivAll {
  display: grid;
  padding: 5em 5em 5em 5em;
  border-radius: 25px;
  margin-top: 3em;
}

.CityMenu {
  border-radius: 25px 0px 0px 25px;
  display: grid;
  grid-template-rows: 150px 150px;
  grid-gap: 1em;
  align-items: center;
  padding: 2em;
  position: relative;
}

.CityPlaces {
  background-color: #f6b05552;
  border-radius: 25px;
  display: grid;
  align-items: center;
  padding: 2em;
  grid-gap: 1em;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.CityPlaces2 {
  background-color: #11919552;
  border-radius: 25px;
  display: grid;
  align-items: center;
  padding: 2em;
  grid-gap: 1em;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.CityPlaces3 {
  background-color: #cbced10c;
  border-radius: 0px 25px 25px 0px;
  display: grid;
  align-items: center;
  padding: 2em;
  grid-gap: 1em;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.PlaceAsset {
  background-color: #cbced10c;
}

.AssetTl {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  padding-top: 1em;
  font-size: 2em;
  text-align: left;
}

.AssetData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 25px;
  font-size: 1.5em;
  grid-gap: 1em;
  margin-bottom: 1.3em;
}

.GMaps {
  background-color: #cbced11e;
  border-radius: 25px;
  padding-top: 0.5em;
}

.RgAddress {
  background-color: #cbced11e;
  border-radius: 25px;
}

.SolVer {
  background-color: #f6b05552;
  border-radius: 25px 25px 0px 0;
  padding: 0.8em 0em 0.8em 0em;
  font-size: 1.5em;
  border-radius: 25px;
}

.CybVer {
  background-color: #11919552;
  border-radius: 25px;
  padding: 0.8em 0em 0.8em 0em;
  font-size: 1.5em;
}

.VerBt {
  background-color: #cbced11e;
  border-radius: 25px;
  padding: 1em 0em 1.4em 0em;
  font-size: 1.5em;
}

.AssetRg {
  font-size: 0.7em;
}

.AssetLv {
  grid-row: span 2;
  background-color: #11919552;
  background-size: 200% 200%;
  animation: gradient 2s ease-in-out infinite;
  padding-top: 0.75em;
  text-align: center;
}

.PlaceVer {
  background-color: #cbced10c;
  border-radius: 0px 25px 25px 0px;
  display: grid;
  align-items: center;
  padding: 2em;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 3fr;
}

.Verigrid {
  display: grid;
  grid-template-columns: 3fr 1fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: repeat(auto-fit, minmax(25px, 0.5fr));
  grid-column: span 3;
  font-size: 1.5em;
  background-color: #cbced10c;
  border-radius: 25px;
  height: 100%;
  grid-gap: 1em;
}

.VeriTl {
  grid-column: span 5;
}

.PLDetail {
  height: 50em;
  margin-top: -6em;
}

.CityBT {
  padding: 0.5em;
  height: 100%;
  background: #cbced11e;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.5em;
  text-align: left;
  position: relative;
}

.CityBTBl {
  padding: 0.5em;
  height: 100%;
  background: #192024;
  cursor: not-allowed;
  border-radius: 20px;
  transition: 0.5s;
  font-size: 1.5em;
  text-align: left;
}

.PlaceQuest {
  padding: 0.5em;
  height: 100%;
  border-radius: 20px;
  transition: 0.5s;
  font-size: 1.4em;
}

.QuestIc {
  font-size: 3em;
}

.CityBT:hover {
  background-color: #ffb34f65;
  color: rgba(255, 255, 255, 0.555);
}

.PLheader {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0 1em 0 0;
  border-radius: 25px 25px 0px 0px;
}

.PLheaderLv1 {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 0 1em 0 0;
  border-radius: 25px 25px 0px 0px;
}

.PLimage {
  height: 11em;
}

.PLfooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5em 0.25em 1em 0.5em;
  bottom: 0px;
  width: 100%;
  position: absolute;
  background: #01314eb2;
  border-radius: 0 0px 25px 25px;
  font-size: 0.8em;
}

.PLfooterCP {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5em 0.25em 1em 0.5em;
  bottom: 0px;
  width: 100%;
  position: absolute;
  background: #119195b2;
  border-radius: 0 0px 25px 25px;
  font-size: 0.8em;
}

.PLfooterSP {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5em 0.25em 1em 0.5em;
  bottom: 0px;
  width: 100%;
  position: absolute;
  background: #f6b055b2;
  border-radius: 0 0px 25px 25px;
  font-size: 0.8em;
  color: #01304e;
}

.PLfooterUn {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.25em 0.5em 0.65em 0.5em;
  bottom: 0px;
  width: 100%;
  position: absolute;
  background: #cbced1b2;
  border-radius: 0 0px 25px 25px;
  font-size: 1em;
  color: #01304e;
}

.PLfooterUp {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.25em 0.5em 1em 0.25em;
  bottom: 0px;
  width: 100%;
  position: absolute;
  background: linear-gradient(45deg, #01304e, #01304e, #119195, #119195);
  background-size: 200% 200%;
  animation: gradient 2s ease-in-out infinite;
  border-radius: 0 0px 25px 25px;
  font-size: 0.8em;
  color: #fff;
}

.CityPL {
  background-color: #cbced11e;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
}

.CityPL2 {
  background-color: #aaa6a179;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  color: #fff;
}
